<p>
  myNote works!
</p>

<div class="firstSidebar">
  <a routerLink='/myNote'><i class="fa fa-fw fa-home"></i>{{noteEmail}}</a>
  <a routerLink=''><i class="fa fa-fw fa-home"></i> Notes</a>
  <a routerLink=''><i class="fa fa-fw fa-wrench"></i> Shortcuats</a>
  <a routerLink=''><i class="fa fa-fw fa-user"></i> Tags</a>
  <a routerLink=''><i class="fa fa-fw fa-envelope"></i> Trash</a>
  <a routerLink=''>Log Out</a>
</div>

<!-- <div class = "secondSidebar" *ngFor="let item of notesList">
  <h2>{{item.title}}</h2>
  <p>{{item.text}}</p>
</div> -->

