<div class="firstSidebar">
  <ul>
    <li>
      <a
      [routerLink]="['/myNote', 'notes']"
        style="font-weight: bolder; color: white; font-size: 18px"
        >{{ noteEmail }}</a
      >
    </li>
    <li routerLinkActive="active" >
      <a [routerLink]="['/myNote', 'notes']">Notes</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/myNote', 'shortcuts']">Shortcuts</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/myNote', 'tags']">Tags</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/myNote', 'trash']">Trash</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/']" (click) = "logOut()">Log Out</a>
    </li>
  </ul>
</div>

<div>
<router-outlet></router-outlet>
</div>
