a{
  text-decoration: underline;
  color: blue;
}

.firstSidebar {
  height: 100%;
  width: 180px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(42 , 73, 130);
  overflow-x: hidden;
  padding-top: 16px;
}

.firstSidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 22px;
  color: #dfdbdb;
  display: block;
}

.firstSidebar a:hover {
  color: #ffffff;
}

.main {
  margin-left: 180px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .firstSidebar {padding-top: 15px;}
  .firstSidebar a {font-size: 18px;}
}

.secondSidebar {
  height: 100%;
  width: 180px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(42 , 73, 130);
  overflow-x: hidden;
  padding-top: 16px;
}

.secondSidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 22px;
  color: #dfdbdb;
  display: block;
}

.secondSidebar a:hover {
  color: #ffffff;
}

.main {
  margin-left: 180px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .secondSidebar {padding-top: 15px;}
  .secondSidebar a {font-size: 18px;}
}
