<div class="modal fade" id="myModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Warning!</h4>
        <span type="button" class="close" data-dismiss="modal">
          &times;
        </span>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Are you sure, you want to delete {{ deletedObjectType }} with name "{{ deletedObjectName }}" ?
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
          [routerLink]="['/myNote/notes']"
          (click) = 'onlyClosed()'
        >
          No
        </button>

        <button
          type="button"
          class="btn btn-danger"
          data-dismiss="modal"
          [routerLink]="['/myNote/notes']"
          [queryParams]="{ deletedObject: true }"
          (click) = 'delete()'
        >
          Yes
        </button>
      </div>
    </div>
  </div>
</div>
