/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.secondSidebar {
  height: calc(100% - 122px);
  width: 290px;
  position: fixed;
  top: 136px;
  left: 200px;
  background-color: rgba(231, 240, 255, 0.5);
  overflow:scroll;
}

.secondSidebar a {
  padding: 0px 8px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  color: rgba(38, 55, 88, 0.9);
  display: block;
  border-bottom: 1px solid rgb(210, 217, 233);
  height: 120px;
}

.listHead {
  top: 0px;
  left: 200px;
  display: block;
  border-bottom: 1px solid rgb(151, 156, 165);
  position: fixed;
  padding: 20px 8px 6px 17px;
  margin-bottom: 0px;
  color: rgba(221, 4, 15, 0.809);
  height: 136px;
  width: 290px;
  font-size: 24px;
  background-color: rgba(231, 240, 255, 0.5);
}

.listCell {
  overflow: clip;
  position: relative;
  padding: 6px 8px 6px 16px;
  height: 500px;
  text-decoration: none;
  font-size: 22px;
  color: rgba(106, 106, 106, 0.905);
  display: block;
  border-bottom: 1px solid rgb(151, 156, 165);
  height: 120px;
  direction: ltr;
}

.titleCell {
  position: relative;
  height: 85px;
  width: 230px;
  font-size: 21.5px;
  color: rgba(29, 0, 0, 0.878);
  font-weight: 400;
  font-style: italic;
  overflow: auto;
  padding: 2px;
}

.listCell:hover {
  background-color: #fff;
}

.cellClickStyle {
  border-right: 1px solid rgb(151, 156, 165);
  background-color: #fff;
}

.main {
  margin-left: 180px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .secondSidebar {
    padding-top: 15px;
  }
  .secondSidebar a {
    font-size: 18px;
  }
}

.scrolling-area {
  overflow: auto;
  direction: rtl;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: rgba(222, 226, 233, 0);
}
::-webkit-scrollbar-thumb:hover {
  background: grey;
}

.head {
  display: block;
  height: 136px;
  border-bottom: 1px solid rgb(151, 156, 165);
  width: calc(100% - 500px);
  position: fixed;
  z-index: 1;
  top: 0;
  left: 489px;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 15px;
}

.body {
  display: block;
  height: 100%;
  width: calc(100% - 500px);
  position: relative;
  top: 136px;
  left: 500px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 35px;
}

input {
  width: 250px;
  height: 40px;
  margin-top: 20px;
  border: 1px dotted rgb(151, 156, 165);
  border-radius: 5px;
  padding-left: 10px;
  color: rgb(65, 65, 65);
}

input:active {
  border: 1px dotted rgb(90, 117, 168);
}

h4 {
  color: rgba(220, 0, 0, 0.9);
  margin-bottom: 20px;
}

.pointer {
  cursor: pointer;
}

.btn{
  border: 2px solid
}

button {
  position: relative;
  margin-left: 30px;
  border: 2px solid;
  width: 120px;
  font-size: 20px;
}

#bigAddItem {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  width: 200px;
  position: absolute;
  left: 25%;
  top: 100%;
  border: 2px solid;
  border-width: 1px;
}
