<div class="listHead">
  <h2 style="font-family: Vladimir Script; display: inline">All Tags</h2>
  <button
    id="smallAddItem"
    type="button"
    class="btn btn-outline-primary"
    (click)="createNewTag()"
  >
    + New Tag
  </button>
  <div
    style="font-size: 16px; margin-top: 30px; color: rgba(0, 96, 221, 0.9)"
  >
    {{ tagList.length }} tags
  </div>
</div>

<div class="secondSidebar">
  <div>
    <div
      class="listCell"
      *ngFor="let item of tagList; let idx = index"
      (click)="modifyTag(idx)"
      [class.cellClickStyle]="currentIndex === idx"
    >
      <div class="titleCell">
        {{ item.name }}
        <small>{{ "(" + quantityOfNotes(item.id) + ")" }}</small>
      </div>

      <div
        class="pointer"
        style="position: absolute; right: 15px; bottom: 44px"
        (click)="deleteTag(idx)"
      >
        <img [src]="'../assets/images/delete3.png'" width="15" height="15" />
      </div>
    </div>
  </div>
</div>

<div class="head"></div>

<div class="body">
  <h4 *ngIf="currentIndex != -1">Modify Existing Tag</h4>
  <div [style.display]="canCreateTag ? 'none' : ''">
    <input
      #name
      type="text"
      placeholder="Tag Name"
      class="form-control"
      style="width: 20rem; height: 3rem; display: inline"
    />
    <button
      class="btn btn-outline-primary"
      (click)="saveTag()"
      style="border-radius: 25px"
    >
      Save Tag
    </button>

    <button
      class="btn btn-outline-secondary"
      (click)="cancelSave()"
      style="border-radius: 25px"
    >
      Don't Save
    </button>
  </div>

  <div *ngIf="canCreateTag">
    <button
      id="bigAddItem"
      class="btn btn-outline-primary"
      (click)="createNewTag()"
    >
      + New Tag
    </button>
  </div>
</div>
