<div class="secondSidebar">
  <label class="listCell"
    >All Tags
    <button
      type="button"
      class="btn btn-outline-primary"
      (click)="createNewTag()"
      style="
        border-style: inset;
        border-width: 1px;
        font-weight: 600;
        padding: 3px 3px 3px 0px;
        width: 7rem;
        border-radius: 15px;
        font-style: italic;
      "
    >
      + New Tag
    </button>
    <div
      style="
        font-size: 16px;
        margin-top: 30px;
        color: rgba(0, 96, 221, 0.9);
        font-weight: 600;
      "
    >
      {{ tagList.length }} tags
    </div>
  </label>
  <div>
    <div
      class="listCell"
      *ngFor="let item of tagList; let idx = index"
      (click)="modifyTag(idx)"
      [class.cellClickStyle]="currentIndex === idx"
    >
      <h3>{{ item.name }}</h3>
      <div
        class="pointer"
        style="position: absolute; right: 15px; bottom: 44px"
        (click)="deleteTag(idx)"
      >
        <img [src]="'../assets/images/delete3.png'" width="15" height="15" />
      </div>
    </div>
  </div>
</div>

<div class="head"></div>

<div class="body">
  <h4 *ngIf="currentIndex != -1">Modify Existing Tag</h4>
  <div [style.display]="canCreateTag ? 'none' : ''">
    <input #name type="text" placeholder="Tag Name" />
    <button class="btn btn-primary" (click)="saveTag()">Save Tag</button>
    <button class="btn btn-secondary" (click)="cancelSave()">Don't Save</button>
  </div>

  <div *ngIf="canCreateTag">
    <button
      style="
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
        width: 200px;
        position: absolute;
        left: 25%;
        top: 15%;
        border-style: inset;
        border-width: 1px;
      "
      class="btn btn-outline-primary"
      (click)="canCreateTag = false"
    >
      + New Tag
    </button>
  </div>
</div>
