<div class="secondSidebar">
  <label class="listCell"
    >All Notes
    <button
      type="button"
      class="btn btn-outline-primary"
      (click)="cancelSave(); newNote()"
      style="
      border-style: inset;
      border-width: 1px;
      border-radius: 15px;
      font-weight: 600;
      padding: 3px 3px 3px 0px;
      width: 7rem;
      font-style: italic;
    "
    >
      + New Note
    </button>
    <div
      style="font-size: 16px; margin-top: 30px; color: rgba(0, 96, 221, 0.9); font-weight: 600;"
    >
      {{ noteList.length }} notes
    </div>
  </label>
  <div>
    <div
      class="listCell"
      *ngFor="let item of noteList; let idx = index"
      (mouseover)="mouseOverNote(idx)"
      (mouseout)="mouseOutNote()"
      (click)="modifyNote(idx)"
      [class.cellClickStyle]="currentIndex === idx"
    >
      <h3>{{ modifyTitleName(item.title) }}</h3>
      <div style="font-size: 14px; position: absolute; bottom: 10px">
        {{ item.createdDate | date }}
      </div>
      <div
        class="pointer"
        style="position: absolute; right: 15px; bottom: 44px"
        (click)="deleteNote(idx)"
      >
        <img [src]="'../assets/images/delete3.png'" width="15" height="15" />
      </div>
    </div>
  </div>
</div>

<div class="head"></div>

<app-modal
[deletedObjectType] = "deletedObjectType"
[deletedObjectName] = "deletedObjectName"
></app-modal>

<div class="body">
  <h4 *ngIf="currentIndex != -1">Modify Existing Note</h4>
  <div [style.display]="canCreateNote ? 'none' : ''">
    <input #title type="text" placeholder="Title" value="Untitled" />
    <textarea #text placeholder="Start writing ..."></textarea>
    <button class="btn btn-primary" (click)="saveNote()">Save Note</button>
    <button class="btn btn-secondary" (click)="cancelSave()">Don't Save</button>
  </div>
  <div *ngIf="canCreateNote">
    <button
      style="
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
        width: 200px;
        position: absolute;
        left: 25%;
        top: 15%;
        border-style: inset;
        border-width: 1px;
      "
      class="btn btn-outline-primary"
      (click)="newNote()"
    >
      + New Note
    </button>
  </div>
</div>

