#addTag {
  margin-top: 50px;
  width: 90px;
  padding: 1px;
  height: 25px;
  color: rgb(116, 102, 0);
  font-size: 12px;
  border-radius: 0;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

textarea {
  border: 1px solid rgba(188, 193, 202, 0.87);
  border-radius: 5px;
  padding-left: 10px;
  display: block;
  width: 800px;
  margin: 60px 0 40px 0;
  height: 150px;
  padding: 15px;
  color: rgb(65, 65, 65);
}

.dropdown {
  width: 50%;
  margin: 70px 90px 20px 0px;
}

.dropdown button {
  color: rgb(58, 58, 58);
  height: 39px;
  width: auto;
  padding: 3px 10px;
  border-radius: 5px;
  margin-left: 1px;
  border: 1px dotted rgb(128, 128, 128);
}

ul {
  display: block;
  padding: 25px 0 0 45px;
  list-style: none;
}

li {
  font-style: italic;
  display: inline-block;
  border: 1px solid #007bff;
  background-color: #007bff;
  border-radius: 15px;
  margin: 5px;
  padding: 2px 10px 3px 7px;
  color: white;
}

.dropdown-header {
  background-color: rgba(240, 240, 240, 0.7);
}
.dropdown-item {
  color: #007bff;
  font-size: 17px;
  font-style: italic;
}

#smallAddItem {
  position: relative;
  margin-right: 10px;
  border-style: solid;
  border-width: 1px;
  font-weight: 400;
  padding: 3px 3px 3px 0px;
  width: 7rem;
}

input {
  width: 8rem;
  align-items: right;
}

:host ::ng-deep .highlightText {
  background: rgba(255, 255, 110, 0.945);
  border: 1px dashed rgb(12, 42, 100);
  border-radius: 3px;
  padding: 0px 7px;
  margin: 0px 2px;
  font-size: larger;
}
