<div class="secondSidebar">
  <label class="listCell"
    >All Notes
    <button
      type="button"
      class="btn btn-outline-primary"
      (click)="cancelSave(); newNote()"
      id="smallAddItem"
    >
      + New Note
    </button>
    <div
      style="
        font-size: 16px;
        margin-top: 30px;
        color: rgba(0, 96, 221, 0.9);
        font-weight: 600;
      "
    >
      {{ noteList.length }} notes
    </div>
  </label>
  <div>
    <div
      class="listCell"
      *ngFor="let item of noteList; let idx = index"
      (mouseover)="mouseOverNote(idx)"
      (mouseout)="mouseOutNote()"
      (click)="modifyNote(idx)"
      [class.cellClickStyle]="currentIndex === idx"
    >
      <h3>{{ modifyTitleName(item.title) }}</h3>
      <div style="font-size: 14px; position: absolute; bottom: 10px">
        {{ item.createdDate | date }}
      </div>
      <div
        class="pointer"
        style="position: absolute; right: 15px; bottom: 44px"
        (click)="deleteNote(idx)"
      >
        <img [src]="'../assets/images/delete3.png'" width="15" height="15" />
      </div>
    </div>
  </div>
</div>

<div class="head"></div>

<app-modal
  [deletedObjectType]="deletedObjectType"
  [deletedObjectName]="deletedObjectName"
></app-modal>

<div class="body">
  <h4 *ngIf="currentIndex != -1">Modify Existing Note</h4>
  <div [style.display]="canCreateNote ? 'none' : ''">
    <input #title type="text" placeholder="Title" value="Untitled" />
    <textarea #text placeholder="Start writing ..."></textarea>
    <button
      class="btn btn-outline-primary"
      (click)="saveNote()"
      style="border-radius: 25px"
    >
      Save Note
    </button>
    <button
      class="btn btn-outline-secondary"
      (click)="cancelSave()"
      style="border-radius: 25px"
    >
      Don't Save
    </button>

    <div class="dropup">
      <button
        type="button"
        class="btn btn-warning dropdown-toggle"
        data-toggle="dropdown"
      >
        Add tag
      </button>
      <div class="dropdown-menu">
        <div
          class="dropdown-item"
          *ngFor="let item of tagList; let idx = index"
          (click)="connectTagToNote(idx)"
        >
          {{ item.name }}
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="canCreateNote">
    <button id="bigAddItem" class="btn btn-outline-primary" (click)="newNote()">
      + New Note
    </button>
  </div>
</div>
